[Unit]
Description=Chimera Discord Bot
After=network-online.target

[Container]
ContainerName=chimera
Image=localhost/chimera-bot:latest
WorkingDir=/app

Volume=%h/discord-bots/chimera/repo:/app:Z

EnvironmentFile=%h/discord-bots/chimera/repo/.env

[Service]
Restart=on-failure

[Install]
WantedBy=default.target